* {
    margin: 0px;
    padding: 0px;
}

.list {
    background-color: red;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 110;
    height: 10vh;
    gap: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    position: sticky;
    top: 0px;
    z-index: 110;
    border-bottom: 2px solid black;

}

.divone {
    background-color: rgb(247, 249, 249);
    height: 150vh;
}

.ai {
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    height: 150vh;
    border-radius: 20px;
}

.h2 {
    font-size: larger;
    text-align: center;


}

.ft {
    background-color: darkgrey;
    height: 200vh;
}

.h3 {
    font-size: xx-large;
}

.h1 {
    position: relative;
    top: 50vh;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    position: relative;
    top: 55vh;
    left: 10px;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.divtwo {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 120vh;
    display: inline-block;
    position: relative;
    top: 10vh;
    left: 45px;
}

.divtwo2 {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 120vh;
    width: 45vw;
    display: inline-block;
    position: relative;
    top: 10vh;
    left: 6vw;
}

.divthree {
    background-color: rgb(251, 255, 0);
    border-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 45vh;
    width: 45vw;
    display: inline-block;
    position: relative;
    bottom: 54.20vh;
    left: 0px;
    background-image: url("https://cdn.pixabay.com/photo/2024/05/16/19/29/ai-generated-8766874_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divthree2 {
    background-color: rgb(255, 0, 230);
    border-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 45vh;
    width: 45vw;
    display: inline-block;
    position: relative;
    bottom: 54.20vh;
    left: 0px;
    background-image: url("https://thumbs.dreamstime.com/b/virtual-ai-assistant-engages-child-using-digital-tablet-modern-setting-learning-activity-interacts-hovering-above-394786153.jpg?w=992");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;

}


@media (max-width: 321px) {
    .list {
        font-size: 1em;
        gap: 1em;
        height: 5rem;
        background-color: rgb(0, 13, 255);

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;

    }

    .divtwo {
        height: 20rem;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divtwo2 {
        height: 25em;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 10rem;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: 1em;
        position: relative;
        top: 10em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 92vh;
    }

    .h2 {
        font-size: 20px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 10vh;
        position: relative;
        top: 93vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: large;
        text-align: center;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .list {
        background-color: aqua;
        font-size: medium;

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;

    }

    .divtwo {
        height: 20rem;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 6em;
        left: 0px;
    }

    .divtwo2 {
        height: 25em;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8rem;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 10rem;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: 1em;
        position: relative;
        top: 10em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 80vh;
    }

    .h2 {
        font-size: 20px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 10vh;
        position: relative;
        top: 95.50vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: large;
        text-align: center;
    }
}

@media (min-width:375px) and (max-width: 425px) {
    .list {
        background-color: rgb(13, 255, 0);
        font-size: 1.25em;

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;

    }

    .divtwo {
        height: 20rem;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divtwo2 {
        height: 25em;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 9em;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 10rem;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: large;
        position: relative;
        top: 8em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 95vh;
    }

    .h2 {
        font-size: 25px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 10vh;
        position: relative;
        top: 96vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: large;
        text-align: center;
    }
}

@media (min-width:425px) and (max-width: 768px) {
    .list {
        background-color: black;
        color: aliceblue;
        font-size: medium;

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;


    }

    .divtwo {
        height: 25rem;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divtwo2 {
        height: 25rem;
        width: 99vw;
        overflow: scroll;
        position: relative;
        top: 8.50em;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 10em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 10rem;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: larger;
        position: relative;
        top: 9em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 114vh;
    }

    .h2 {
        font-size: 30px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 10vh;
        position: relative;
        top: 115vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: large;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .list {
        background-color: bisque;
        color: black;

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: large;
        position: absolute;
        top: 10px;
        right: 0px;

    }

    .divtwo {
        height: 40rem;
        width: 49vw;
        overflow: scroll;
        position: relative;
        top: 6em;
        left: 0px;
    }

    .divtwo2 {
        height: 40rem;
        width: 49vw;
        overflow: scroll;
        position: relative;
        top: 6em;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 15em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 15em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 18rem;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: 1em;
        position: relative;
        top: 15em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 93vh;
    }

    .h2 {
        font-size: 35px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 15vh;
        position: relative;
        top: 95vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: large;
        text-align: center;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .list {
        background-color: aquamarine;
        color: black;

    }

    .divone {
        width: 100%;
        height: 100%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;

    }

    .divtwo {
        height: 40rem;
        width: 49vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divtwo2 {
        height: 40rem;
        width: 49vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 0px;
    }

    .divthree {
        width: 100%;
        height: 15em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 15em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 15rem;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    .p1 {
        font-size: 20px;
        position: relative;
        top: 12em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 93vh;
    }

    .h2 {
        font-size: 40px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 20vh;
        position: relative;
        top: 95vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: x-large;
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .list {
        background-color: cadetblue;
        color: black;
        font-size: xx-large;

    }

    .divone {
        width: 100%;
        height: 120%;
        font-size: smaller;
        position: absolute;
        top: 10px;
        right: 0px;


    }

    .divtwo {
        height: 50rem;
        width: 44vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 5vw;
    }

    .divtwo2 {
        height: 50rem;
        width: 44vw;
        overflow: scroll;
        position: relative;
        top: 8em;
        left: 10vw;
    }

    .divthree {
        width: 100%;
        height: 22em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .divthree2 {
        width: 100%;
        height: 22em;
        position: absolute;
        top: 0px;
        right: 5rem;
    }

    .h1 {
        position: relative;
        top: 20rem;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
    }

    .p1 {
        font-size: 1em;
        position: relative;
        top: 22rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: x-large;
    }

    .ai {
        background-color: rgb(255, 0, 0);
        border: 2px solid black;
        height: 25vh;
        border-radius: 20px;
        position: relative;
        top: 112vh;
    }

    .h2 {
        font-size: 45px;
        text-align: center;
        margin: 50px;


    }

    .ft {
        background-color: darkgrey;
        height: 20vh;
        position: relative;
        top: 113.50vh;
        border: 1px solid black;
        border-radius: 10px;
    }

    .h3 {
        font-size: xx-large;
        text-align: center;
    }
}