* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 250, 240);
    margin: 0px;
    padding: 0px;
}


nav {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 250, 240);
    border-bottom: 1px solid rgb(241, 224, 198);
    position: fixed;
    z-index: 80;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

nav>button {
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 250, 240);
}

.card-1 {
    width: 100%;
    height: 70%;
    background-color: rgb(255, 250, 240);
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 20px auto;
    text-align: center;
}

.card-1>h1 {
    position: relative;
    top: 10vh;
    left: 7vw;
    background-color: rgba(255, 255, 0, 0);
    width: 28vw;
    text-align: start;
    font-size: 4rem;
}

.card-1>p {
    position: relative;
    top: 12vh;
    left: 7vw;
    background-color: rgba(173, 216, 230, 0);
    width: 28vw;
    text-align: start;
    font-size: 1.5rem;
}

.card-1>button {
    position: relative;
    bottom: 35vh;
    left: -15vw;
    background-color: rgb(0, 0, 0);
    width: 18vw;
    height: 5.50vh;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-1>img {
    position: relative;
    top: -20vh;
    left: 10vw;
    width: 35vw;
    height: auto;
    border-radius: 20px;
}


.card-2 {
    width: 100%;
    height: 30%;
    background-color: rgb(255, 250, 240);
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: start;
}

span {
    background-color: rgba(137, 43, 226, 0);
    width: 10%;
    line-height: 1.5;
    text-align: start;
    font-size: 1.2rem;
}


.card-3 {
    width: 75%;
    height: 75%;
    background-color: rgb(255, 246, 227);
    border-radius: 10px;
    /* border: 2px solid rgb(138, 122, 122); */
    box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    text-align: start;
}

.card-3>img {
    width: 60%;
    height: 90%;
    border-radius: 10px;
    margin-top: 0px;
    position: relative;
    left: 10%;
    bottom: 25vh;
}

.card-3>h1 {
    width: 25vw;
    font-size: 4rem;
    margin-bottom: 20px;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    top: 15vh;
}

.card-3>p {
    width: 20vw;
    font-size: 1.3rem;
    margin-bottom: 20px;
    background-color: rgba(245, 245, 220, 0);
    position: relative;
    top: 15vh;
}

.card-3>button {
    width: 20vw;
    height: 6vh;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -40vh;
}



.card-4 {
    width: 75%;
    height: 75%;
    background-color: rgb(255, 246, 227);
    border-radius: 10px;
    /* border: 2px solid rgb(138, 122, 122); */
    box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    text-align: start;
}

.card-4>img {
    width: 55%;
    height: 90%;
    border-radius: 10px;
    margin-top: 0px;
    position: relative;
    right: 30%;
    bottom: 25vh;
}

.card-4>h1 {
    width: 25vw;
    font-size: 4rem;
    margin-bottom: 20px;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    top: 15vh;
    left: 40vw;
}

.card-4>p {
    width: 20vw;
    font-size: 1.3rem;
    margin-bottom: 20px;
    background-color: rgba(245, 245, 220, 0);
    position: relative;
    top: 15vh;
    left: 40vw;
}

.card-4>button {
    width: 20vw;
    height: 6vh;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -40vh;
    left: 40vw;
}

.card-5 {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 250, 240);
    /* background-color: rgba(255, 0, 0, 0); */
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
    padding: 0px;
    margin: 20px auto;
    text-align: center;
    /* display: flex;
    justify-content: center;
    gap: 70px;
    align-items: start;*/
}

.card-5>h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 255, 0);
    margin-left: 0vw;

}

.card-5>h2 {
    width: 35vw;
    position: relative;
    left: 40vw;
    top: 1vh;
    text-align: start;
    font-size: 1.5rem;
    background-color: rgba(255, 192, 203, 0);
}

#productivity-button {
    width: 90%;
    height: 7vh;
    background-color: #ffffff;
    color: #000000;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 9vh;
    font-weight: 700;
    font-size: medium;
}

#work-button {
    width: 90%;
    height: 7vh;
    background-color: #ffffff;
    color: #000000;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    left: 6px;
    top: 10vh;
    font-weight: 700;
    font-size: medium;
}

#work-button:hover {
    border: 2px solid green;
}

#productivity-button:hover {
    border: 2px solid green;
}

#close-button {
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 21vh;
    border: none;

}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 194, 0);
}

input {
    width: 40%;
    height: 3.50rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 5vh;
    right: 20em;
    padding-left: 10px;
    font-weight: 700;
    font-size: medium;
}

input:hover {
    border: 2px solid green;
}

#modal-container {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
        url("https://evernote.com/_next/image?url=%2Fimages%2Fsplit%2Ftags-search.webp&w=1920&q=75");
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 70%;
    width: 65%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#continue-button {
    width: 40%;
    height: 3.50rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 8vh;
    right: 5rem;
    padding-left: 10px;
    font-weight: 700;
    font-size: medium;
}

#continue-button2 {
    width: 40%;
    height: 3.50rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 13rem;
    right: 35rem;
    padding-left: 10px;
    font-weight: 700;
    font-size: medium;
}

#continue-button3 {
    width: 40%;
    height: 3.50rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 15rem;
    right: 20rem;
    padding-left: 10px;
    font-weight: 700;
    font-size: medium;
}

#close-button2 {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    bottom: 80%;
    left: 80vw;
    border: none;
    font-size: x-large;


}

#continue-button:hover {
    border: 2px solid green;
}

#continue-button2:hover {
    border: 2px solid green;
}

#continue-button3:hover {
    border: 2px solid green;
}