* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}

.logo>img {
    height: 75px;
    width: 230px;
    align-self: flex-start;
}

.list>ul {
    display: flex;
    list-style-type: none;
    column-gap: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.buynow>button {
    height: 40px;
    width: 115px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    left: 5vw;
}

.lang>a {
    position: relative;
    bottom: 6px;
}

.lang {
    position: relative;
    right: 1vw;
}

.search {
    position: relative;
    right: 6vw;
}