* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0a0e18;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    color: #ffffff;
    margin: 1.5rem 1rem 0rem;
}

.container {
    background: #121212;
    height: auto;
    max-width: 300px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
}

form {
    color: #1f2937;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    margin: 0rem 1rem;
}

form>input {
    padding: 0.8rem 0.7rem;
    border-radius: 5px;
    border: none;
    color: #1f1f1f;
    background-color: #00ffff;
    font-weight: bold;
}

form>input::placeholder {
    color: #1f2937;
    font-weight: bold;
}

form>button {
    cursor: pointer;
    color: #e5e5e5;
    font-weight: bold;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #9b5de5;
}

form>button:hover {
    opacity: 0.9;
}

.tasksList {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin-bottom: 1rem;
    transition: all ease-out 5s;
}

.task {
    cursor: pointer;
    color: #e5e5e5;
    font-weight: bold;
    border-radius: 5px;
    background-color: #1f1f1f;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn {
    cursor: pointer;
    color: #e5e5e5;
    font-weight: bold;
    background-color: #f15bb5;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff0000;
}

.complete {
    text-decoration: line-through;
    opacity: 0.7;
    background-color: #0e7b00;
}

.task:hover {
    opacity: 0.9;
}